body{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(1, 1, 26);
}

#outerCase{
    width:500px;
    height:800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    border-radius: 50px;
    background-color: #142d4c;
}

#innerCase{
    width:400px;
    height:700px;
    border: solid black 2px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:50px;
    background-color: #385170;

}

#screen{
    width:350px;
    height:200px;
    border: solid black 2px;
    border-radius: 40px;
    background-color: #9fd3c7;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#buttonPad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 700px;
    gap:20px
}

.row{
    display: flex;
    gap:5px;
    justify-content: center;
}

#row5{
    display: flex;
    justify-content: space-between;
}

.btn{
    border: solid black 2px;
    border-radius: 20px;
    width:70px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .2s;
    background-color: #142d4c;
    color: white;
}

.btn:hover{
    background-color: #08182c;
    transform: scale(1.1);
    color:white;
    cursor:pointer;
}
